$color-text: #262626;
$color-text-label:#666666;
$color-text-select: #0057c3;
$color-text-holder:#d7dadf;
$color-text-explain: #909399;


$color-icon-point: #FA541C;

$color-btn-primary: #016aed;
$color-btn-base: #909399;

$color-bg-app:#F6F6F6;
$color-bg-header: #016aed;